* {
    
   color: black;
    font-family: "Bebas Neue";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 #close {
    display: none;
 }
 
 .burger {
    display: none;
    align-self: center;
    justify-self: center;
 }
 .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
 }
 
 
 
 ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
 }
 ul a {
    text-decoration: none;
    margin: auto;
    font-family: "Montserrat";
    color: #D1C7C7;
    font-size: 1.5rem;
    padding: 0px 25px;
 }
 nav img {
    margin-top: 10px;
    width: 80px;
 }
 nav  {
    background: #3a3a3a;
    padding-left: 10%;
    gap: 20%;
    justify-content: flex-start;
    display: flex; 
 }
#inputs-container {
    background-color: ;
}


 @media only screen and (max-width:415px) {
    .burger{
        display: inline;
        right: 5%;
        top: 35%;
        position: absolute;
    }
    .burger div {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    #close{
        font-family: sans-serif;
        font-size: 30px;
        width: 25px;
        color: white;
        right: 6%;
        top: 13%;
        position: absolute;
        display: none;
    }
  
 
    ul {
    
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        list-style-type: none;
    }
     ul a {
        text-decoration: none;
        margin: auto;
        font-family: "Montserrat";
        color: #D1C7C7;
        font-size: 1.5rem;
        padding: 0px 25px;
    }
    nav img {
        
        margin-top: 10px;
        width: 100px;
 
    }
    nav  {
        position: relative;
        background: #3a3a3a;
        padding-left: 0%;
        gap: 10%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2%;
        
    }
}